# Files ignored by git tracker

# Temporary files from R
*.Rapp.history
*.DS_Store
*.Rhistory

# Outputs
Outputs/fits/

# Batch job files
Batch/job*.txt

# Compiled files
*.so
*.o

# Documentation
Documentation/*/knitr*.png
Documentation/*/knitr*.pdf
Documentation/*/*.log
Documentation/*/data/*/*.html
Documentation/*/data/*/*.o
Documentation/*/data/*/*.so
Documentation/*/data/*/*.cpp
