# Files ignored by git tracker

# Temporary files from R
*.Rapp.history
*.DS_Store

# Outputs
Outputs/fits/

# Documentation
Documentation/*/knitr*.png
Documentation/*/knitr*.pdf
Documentation/*/*.log
Documentation/*/data/*/*.html
Documentation/*/data/*/*.o
Documentation/*/data/*/*.so
Documentation/*/data/*/*.cpp
